:root {
  --font-smooth: "Open Sans", sans-serif;
  --font-cursive: "Alex Brush", cursive;
}

*[theme="theme-light"] {
  --background: #ffffff;
  --text: #000000;
  --input: #f3f3f3;
  --ui-bar: #d4d7f3;
  --ui-option: #babfeb;
  --ui-hover: #8085b1;
}

*[theme="theme-dark"] {
  --background: #282c34;
  --text: #ffffff;
  --input: #21252b;
  --ui-bar: #3c3e4d;
  --ui-option: #8289c8;
  --ui-hover: #5961a9;
}

html {
  background-color: var(--background);
  color: var(--text);
  height: 100%;
  transition: background-color 0.1s;
  transition: color 0.1s;
}

body {
  display: grid;
  grid-template-columns: 150px auto;
  margin: 0;
  padding: 0;
  height: 100%;
}

#selection {
  display: grid;
  grid-template-columns: repeat(8, 200px);
  column-gap: 16px;
  row-gap: 16px;
  padding-left: 20px;
  padding-top: 20px;
  overflow: visible;
}

.dragging {
  background-color: #00000070;
}

.dragging:after {
  content: "Drop file to upload/update character...";
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5em;
  font-family: var(--font-smooth);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.character {
  background-color: var(--ui-option);
  width: 200px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-smooth);
  transition: background-color 0.1s;
  padding-top: 20px;
  padding-bottom: 20px;
}

.character-info {
  width: inherit;
}

.character-info div {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

input {
  background-color: var(--ui-option);
  border: 2px solid var(--ui-hover);
  color: var(--text);
  cursor: pointer;
}

input:hover {
  background-color: var(--ui-hover);
}

.character-link {
  width: 200px;
  height: 145px;
  position: absolute;
  margin-top: -20px;
  z-index: 1;
  border-bottom: 2px solid var(--text);
}

.character-link:hover {
  border: 3px solid var(--text);
}

nav#ui {
  background-color: var(--ui-bar);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: background-color 0.1s;
}

nav#ui div:last-child {
  border-bottom: 4px solid var(--ui-hover);
}

nav div.ui-element {
  background-color: var(--ui-option);
  text-align: center;
  font-family: var(--font-smooth);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  border-top: 4px solid var(--ui-hover);
  padding-top: 5px;
  transition: background-color 0.1s;
  cursor: pointer;
}

nav div.ui-element:hover {
  background-color: var(--ui-hover);
}

svg {
  scale: 75%;
}

input[type="file"] {
  display: none;
}

.info-page {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--ui-option);
  z-index: 3;
  width: 700px;
  height: 450px;
  padding: 50px;
  border: 3px solid var(--text);
  font-family: var(--font-smooth);
  font-size: 1.2em;
}

.info-page p {
  border-bottom: 3px dashed var(--text);
}

.info-block {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #3c3e4dcb;
}

.github-link {
  width: 10%;
  text-align: center;
  color: var(--text);
}

.github-link:hover,
.github-link:focus {
  color: var(--ui-hover);
}

.github-link a {
  text-decoration: none;
}

.github-link a:visited {
  color: inherit;
}

@keyframes new {
  from {
    background-color: greenyellow;
  }
  to {
    background-color: var(--ui-option);
  }
}

.animate-new {
  animation: new 2s ease-out;
}
